# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

data/
output/
log/

cmp.py
temp_for_cleaning/