# Data Analysis and Manipulation
numpy
scikit-learn
openpyxl
pymupdf

# Network Analysis
networkx
python-louvain

# Visualization
matplotlib
seaborn
adjustText

# Natural Language Processing (NLP)
nltk
gensim

# Other
openai